@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans";
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

.yellow {
  color: #fad234;
}

body {
  max-width: 1440px;
  width: 1121px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  min-height: 100vh;
  padding-bottom: 6.625rem 0;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4em;
}
header nav .nav-menu li {
  text-transform: capitalize;
}
header nav .nav-menu li a {
  color: #000;
  position: relative;
  font-size: 1.25em;
  font-weight: 500;
}
header nav .nav-menu li a:hover::before {
  content: "";
  position: absolute;
  margin-left: -0.75rem;
  bottom: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fad234;
  color: red;
}
header nav .nav-menu li a:hover {
  color: #fad234;
}
header nav .nav-menu li a:focus {
  color: #fad234;
}
header .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .hero-section .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .hero-section .left-part h1 {
  width: 449px;
  font-size: 4.375em;
  font-weight: 700;
  padding-top: 1.9rem;
  line-height: 150%;
}
header .hero-section .left-part .hurry p {
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 1rem;
}
header .hero-section .left-part .hurry i {
  width: 50%;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .hero-section .left-part .hurry i:hover {
  color: #000;
}

.store-menu {
  padding-bottom: 6rem;
  padding-top: 2rem;
}
.store-menu .menu-content {
  height: 691px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.store-menu .menu-content .slider {
  width: 1440px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}
.store-menu .menu-content .slider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}
.store-menu .menu-content .slider .item h2 {
  font-size: 1.25em;
  font-weight: 400;
}
.store-menu .menu-content .slider .item p {
  font-size: 1.25em;
  font-weight: 400;
  color: #fad234;
}
.store-menu .menu-content .slider.active {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.store-menu .menu-content .ellipse {
  width: 550px;
  height: 550px;
  background-color: #fad234;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.store-menu .menu-content .ellipse .left-btn {
  cursor: pointer;
}
.store-menu .menu-content .ellipse .left-btn i {
  font-size: 30px;
}
.store-menu .menu-content .ellipse .left-btn p {
  font-size: 12px;
  font-weight: 400;
}
.store-menu .menu-content .ellipse .right-btn {
  cursor: pointer;
}
.store-menu .menu-content .ellipse .right-btn i {
  font-size: 30px;
}
.store-menu .menu-content .ellipse .right-btn p {
  font-size: 12px;
  font-weight: 400;
}
.store-menu .menu-content .ellipse .right-btn:hover, .store-menu .menu-content .ellipse .left-btn:hover {
  color: #000;
}
.store-menu .menu-content .left {
  position: absolute;
  left: -450px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 50px;
}
.store-menu .menu-content .right {
  position: absolute;
  right: -450px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 50px;
}

.store-app {
  padding-bottom: 396px;
  padding-top: 2rem;
}
.store-app .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.5rem;
  position: relative;
}
.store-app .main-content .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.store-app .main-content .right-part .top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.store-app .main-content .right-part .top-part p {
  font-size: 1.25em;
  font-weight: 600;
  padding-bottom: 10px;
}
.store-app .main-content .right-part .bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.store-app .main-content .right-part .bottom-part .app-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 536px;
  height: 85px;
  background-color: #fad234;
  border-radius: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.25em;
  padding-right: 3em;
}
.store-app .main-content .right-part .bottom-part .app-box p {
  font-size: 1.25em;
  font-weight: 400;
}
.store-app .main-content::after {
  content: url("..//../images/iphone.svg");
  position: absolute;
  right: -230px;
}

.store-about {
  padding-bottom: 320px;
}
.store-about .logo img {
  width: 451px;
  height: 268px;
}
.store-about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.store-about .about-content .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 545px;
  height: 601px;
  border-radius: 8px;
  background-color: #fad234;
  padding: 2rem 1rem 1rem;
}
.store-about .about-content .about h1 {
  font-size: 64px;
  font-weight: 700;
}
.store-about .about-content .about p {
  width: 488px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 150.5%;
}
.store-about .about-content .maps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.store-about .about-content .maps img {
  width: 448px;
  height: 500px;
}

footer {
  width: 1121px;
  height: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fad234;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
footer .logo {
  width: 225px;
  height: 70px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
footer .logo img {
  width: 104px;
  height: 64px;
}
footer .footer-more {
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
footer .footer-more h3 {
  font-size: 0.9375em;
  font-weight: 700;
}
footer .footer-more .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
footer .footer-more .content h4 {
  font-size: 0.75em;
  font-weight: 400;
}
footer .footer-contact {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  gap: 16px;
}
footer .footer-contact h3 {
  font-size: 0.9375em;
  font-weight: 700;
}
footer .footer-contact .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}
footer .footer-contact .social-icons li {
  width: 19px;
  height: 19px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .question h4 {
  width: 120px;
  height: 64px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 150.5%;
}

.store-title {
  padding-bottom: 5rem;
}
.store-title h1 {
  font-size: 4em;
  font-weight: 400;
}
.store-title p {
  font-size: 1.25em;
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */