/* variables */
$text-c1: #fff;
$lg-c1: #00feba;
$lg-c2: #5b548a;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #222;
}