@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Primary
$DarkCyan: hsl(185, 75%, 39%);
$VeryDarkBlue: hsl(229, 23%, 23%);
$DarkGrayishBlue: hsl(227, 10%, 46%);

// Neutral
$DarkGray: hsl(0, 0%, 59%);

// Fonts
$Font1: "Kumbh Sans", sans-serif;